*{
    padding: 0px;
    margin: 0px;
}
.body{
    background-color: rgb(0, 0, 0);
}
.header{
    background-color:rgb(0, 0, 0);
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 68px;
    font-size: 25px;
    padding-top: 0px;
    color: rgba(206,0,25,255);
    display: flex;
    justify-content: space-between;
}
.header h3{
    margin-right: 30%;
    align-self: center;
}
.header img{
    padding-top: 0px;
    margin-top: 0px;
}
.body_container{
    display: flex;
    margin: 0px;
    padding: 0px;
}
.nav_container{
    background-color:rgba(251,198,18,255);
    flex: 0.4;
    height: 630px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    padding-top: 20px;
 
}
.profile img{
    border-radius: 50px;
    max-height: 100px;
    max-width: 80px;
    
}
.profile{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
}
.nav_menu ul{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    list-style: none;
}
.nav_menu ul li a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    line-height: 60px;
    color: black;
    padding: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.log ul{
    list-style: none;
}
.log ul li a{
    text-decoration: none;
    color: rgb(255, 0, 0);
    padding: 8px;
    padding-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    list-style: none;
    margin-bottom:25px ;
    padding-bottom: 15px;
}

.display_container{
    background-color:rgb(0, 0, 0);
    flex: 2;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    height: 655px;
    
    
    
}

.display{
    margin-top: 5px;
}
.takeOrder ul{
    display: flex;
    list-style: none;
    
    justify-content: right;
    padding-right: 35px;
    
}
.takeOrder ul li{
    text-align: right;
    margin-right: 8px;
    border: 1px solid ;
    padding: 5px;
    border-radius: 10px;
    
    border-color: rgba(206,0,25,255);
}

.takeOrder ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    
    
}
.mealCategory ul{
    display: flex;
    list-style: none;
    padding-left: 10px;
    margin-left: 50px;


}
.mealCategory ul li{
    margin-left: 20px;
}
.mealCategory ul li a{
    text-decoration: none;
    color: white;
    font-size: medium;
}
.meals{
    padding: 0px;
    margin: 20px;
    margin-top: 40px;
    margin-left: 40px;
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 483px;
    overflow: scroll;
}
.meal_box{
    
    padding: 10px;
    border-radius: 20px;
    height: 130px;
    width: 200px;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgba(255, 255, 255, 0.034);
}
.mealPic{
    width: 90px;
    height: 90px;
    margin-top: 40px;
    border-radius: 15px;
    align-self: center;
}
.meal_box ul{
    display: flex;
    list-style: none;
    height: 100px;
    justify-content: space-between;

}
.meal_box ul li ul{
    display: flex;
    height: 130px;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}




















.output_container{
    background-color: rgb(0, 0, 0);
    flex: 0.9;
    flex-wrap: wrap;
    padding: 5px;
    padding-top: 0px;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    height: 650px;
    
}

.checkout_details{
    display: flex;
    flex-direction: column;
    height: 560px;
    justify-content: space-between;
    padding-bottom: 0px;
   
    
}

.cart_section{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
   
}
.cart_section h3{
    margin-top: 20px;
}
.cart_section img{
    padding-top: 0px;
    margin-top: 0px;
}

.orders{
    height: 300px;
    
    overflow: scroll;
}

.order img{
    height: 65px;
    width: 60px;
    border-radius: 10px;
}

.order{
    background-color: rgb(0, 0, 0);
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    margin: 5px;
    justify-content: space-between;
    z-index: 1;
    margin-top: 0px;
    padding-top: 0px;
    height: 50px;
    overflow: hidden;
    
    
}
.order_details{
    display: flex;
    margin-left: 5px;
    padding-top: 10px;
    
    
    
}
.order_details ul{
    display: flex;
    list-style: none;
    
    
    
    
}
.order_details ul li{
    margin-left: 20px;
    text-align: left;
    
} 
.food_tag{
    
}
.order_details ul li img{
    width: 20px;
    height: 20px;

}

.payment_section{
   
    
    background-color: rgba(251, 198, 18, 0.95);
    height: 230px;
    border-radius: 15px;
    padding: 3px;
    color: black;
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.buttons ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 5px;
    
}
.buttons ul li button{
    padding: 4px;
    font-size: 15px;
    border-radius: 10px;
    
    
}
.cancel{
    background-color: rgb(179, 7, 7);
    border: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.checkout{
    background-color: rgb(90, 168, 199);
    border: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.checkout_text{
    padding: 7px;
    font-size: medium;
    font-weight:500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subtotal ul{
    display: flex;
    list-style: none;
    margin-top: 2px;
    margin: 8px;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: space-between;
}
.subtotal ul li{
    display: flex;
    justify-content: space-between;
    width: 80px;
    
}
.subtotal ul li label{
    margin: 3px;
}

.bag_delivery ul{
    margin: 8px;;
    display: flex;
    list-style: none;
    margin-left: 0px;
    justify-content: left;
}
.bag_delivery ul li{
    font-weight: bold;
}
#bag{
    margin-left: 90px;
}
.checkbuttons{
    width: 18px;
    height: 18px;
    margin-right: 4px;

}

.total ul{
    display: flex;
    list-style: none;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: space-between;
}
.total ul li{
    display: flex;
    justify-content: space-between;
    width: 80px;
    
}
.total ul li label{
    margin-top: 3px;
    color: rgb(1, 14, 87);
}
.total ul li h3{
    color: rgb(1, 14, 87);
    font-weight: bold;
}


.mpesa_cash ul{
    display: flex;
    list-style: none;
    margin: 6px;
    justify-content: space-between;
    margin-right: 0px;
    margin-left: 0px;
    font-weight: bold;
}
.radiobuttons{
    width: 20px;
    height: 20px; 
    margin-right: 4px;
}

.cashInput{
    width: 80px;
    margin-left: 25px;
    height: 23px;
    font-size: large;
    text-align: right;
}
.cash{
    display: flex;
    background-color: brown;
    flex-direction: row;
    justify-content: space-between;
}

.balance ul{
    display: flex;
    list-style: none;
    margin: 8px;
    margin-right: 0px;
    margin-left: 0px;
    justify-content: space-between;
}
.balance ul li{
    display: flex;
    justify-content: space-between;
    
    width: 80px;
    
}
.balance ul li label{
    margin-top: 3px;
    color: rgba(206,0,25,255);
}

.balance ul li h3{
    color: rgba(206,0,25,255);
}

